/* 

### Primary
- Dark Blue: hsl(233, 26%, 24%)     #2d314d
- Lime Green: hsl(136, 65%, 51%)    #31d35c
- Bright Cyan: hsl(192, 70%, 51%)   #2bb7da

### Neutral
- Grayish Blue: hsl(233, 8%, 62%)         #9698a6
- Light Grayish Blue: hsl(220, 16%, 96%)  #f3f4f6
- Very Light Gray: hsl(0, 0%, 98%)        #fafafa
- White: hsl(0, 0%, 100%)                 #ffffff


sidebar 	rgb(35, 39, 60)     #23273c dark blue
navbar		rgb(62, 195, 213)   #3ec3d5 cyan
expense		rgb(255, 84, 96)    #ff5460 red
income		rgb(65, 220, 101)   #41dc65 lime green
arrow			rgb(200, 199, 205)  #c8c7cd gray
date			rgb(225, 224, 230)  #e1e0e6 lighter gray
bg				rgb(247, 247, 250)  #f7f7fa almost white
tbl row		rgb(255, 255, 255)  #ffffff white


*/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

body {
  font-size: 18px;
  line-height: 1.1;
  font-family: "Public Sans", sans-serif;
  color: #23273c;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Index Page */
.navbar {
  border-bottom: 3px solid #2d314d;
  opacity: 0.9;
}

.navbar .navbar-nav .nav-link {
  color: #2d314d;
  transition: 0.2s ease-in;
}

.navbar .nav-item a {
  font-size: 1rem;
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-link:hover {
  color: #3ec3d5;
}

.header {
  background-image: url("../image/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;

  position: relative;
}

.header .header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

.header .row {
  justify-self: center;
}

.header h1 {
  font-weight: 700;
}

.header p {
  font-size: 28px;
}

.heading {
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.card {
  background-color: #2d314d;

  background-image: linear-gradient(to right, #41dc65, #3ec3d5);
  color: #23273c;
}

@media (max-width: 767px) {
  .header h1 {
    font-size: 5rem;
    font-weight: 700;
  }

  .header p {
    font-size: 24px;
  }

  .heading {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 575px) {
  .header h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  .header p {
    font-size: 18px;
  }

  .heading {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}
/* Index Page - END */

/* Admin Page */
#adminBody {
  /* overflow: hidden; */
  /* height: 92vh; */
}
nav.topbar {
  background-color: #c8c7cd;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.topbar h1 {
  margin: 0;
}

#admin.admin {
  min-height: 100vh;

  display: flex;

  padding: 0;
}

#admin .sidebar {
  background-color: #23273c;
  color: #fff;
  width: 250px;
  flex-shrink: 0;
  padding: 1rem;
}

#admin .sidebar ul {
  list-style: none;
}

#admin .sidebar ul li {
  margin: 2rem 0;
}

#admin .sidebar ul li button {
  width: 100%;
  padding: 1rem 0;
}

#admin .main {
  flex-grow: 1;
  border-right: 1px solid #a5a5a5;
}

#admin .main table thead th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

#admin .main .modal-error {
  display: none;
}
/* Admin Page - END */
